# Test Classes
Mains.java

# Maven
!.mvn/wrapper/maven-wrapper.jar
target/
pom.xml.*

# Java
hs_ err_pid*
.buildpath
.classpath
.project

# VSCode
/.vscode

# Eclipse
/.settings
/.metadata
/.factorypath